body {
    background-color: #282c34;
    color: white;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    color: goldenrod;
}

.main {
    margin: 0 auto;
    max-width: 960px;
}

a,
a:active,
a:focus,
a:hover {
    color: #61dafb;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 40px;
    font-weight: 300;
}

.loading {
    border: 4px dotted rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.2);
    font-weight: bold;
    text-align: center;
    padding: 20px;
}

.cms {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px 40px;
}

pre {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px 20px;
}